<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <a href="/polls/signIn">
            <input type="submit" value="Sign in">
        </a>
    <p>Not a user? Create an Account</p>
    <a href="/polls/newCandidate">
        <input type="submit" value="Create New Candidate Profile">
    </a>
    <a href="/polls/newRecruiter">
    <input type="submit" value="Create New Recruiter Profile">
    </a>
    <a href="/polls/newJobPost">
        <input type="submit" value="Create New Post Profile">
    </a>
    </body>
</html>