<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Signed In - {{ user.fname }}</title>
        <!-- include the link to Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <style>
            .btn {font-family: georgia, serif;}
            hr {border: 1.5px dashed #2a304d;; width: 2000px}
            #content {font-family: georgia, serif;}
        </style>
        <!-- navigation bar with the user's name and a sign out button -->
        <nav class="navbar navbar-light" style="background-color:#2a304d;">
            <h4 class="nav-bar-title">Welcome, {{ user.fname }} {{ user.lname }}</h4>
            <form class="form-inline">
                <style>
                    .nav-bar-title {color: white; font-family: georgia, serif;}
                </style>
                <a class = "btn btn-light btn-outline-info" style = "margin: 5px" type="button" href="/polls/newJobPost">
                    <img src="https://img.icons8.com/ios/2x/plus.png" height="20" width="20">
                    New Job Post
                </a>
                <a class = "btn btn-lg btn-light btn-outline-info" type="button" name="signOut" href="/polls/" >
                    <img src="https://img.icons8.com/external-tanah-basah-detailed-outline-tanah-basah/2x/external-sign-out-user-interface-tanah-basah-detailed-outline-tanah-basah.png" width="25" height="25">
                    Sign Out
                </a>
            </form>
            </nav>

        <!-- navigation bar with the all posts, active posts, inactive posts, posts with interested candidates -->
        <nav  class="navbar navbar-light" style="background-color:#dd4a75;">
            <form class = "form-inline">
                <a class = "btn btn-light btn-outline-info" type="button" href="/polls/allPosts">All Posts</a>
                <a class = "btn btn-light btn-outline-info" style = "margin:5px" type="button" href="/polls/activePostsRecruiter">Active Posts</a>
                <a class = "btn btn-light btn-outline-info" type="button" href="/polls/inactivePostsRecruiter">Inactive Posts</a>
                <a class = "btn btn-light btn-outline-info" style = "margin:5px" type="button" href="/polls/interestedPostsRecruiter">Posts with Interested Candidates</a>
            </form>            
        </nav>

        <hr>

        <div class="text-center" id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>